<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Source/CSS/Header.css">
    <link rel="stylesheet" href="/Source/CSS/Form_Style.css">
    <title>ImaginaSalud EPS</title>
</head>
<body>
    <header>
        <section class="headers">
              <nav>
                  <ul>
                      <li><a href="/Index.html" style="text-decoration:none">Inicio</a></li>
                      <li><a href="/Source/Views/Usuarios.html" style="text-decoration:none">Usuarios</a></li>
                      <li><a href="/Source/Views/Doctores.html" style="text-decoration:none">Doctores</a></li>
                      <li><a href="/Source/Views/Citas.html" style="text-decoration:none">Citas</a></li>
                  </ul>
          </nav>
        </section>
    </header>
    <main>
        <section class="container">
            <section class="Formulario">
                <h1>Registro Doctores</h1>
                <form action="">
                    <section class="form1">
                        <section class="labels">
                            <label for="">idDoctor</label>
                            <label for="">Apellido</label>
                            <label for="">Nombre</label>
                            <label for="">Correo</label>
                            <label for="">Especialidad</label>
                        </section>
                        <section class="inputs">
                            <input type="number"placeholder="Ingrese su ID">
                            <input type="text" placeholder="Ingrese su Apellido">
                            <input type="text" placeholder="Ingrese su Nombre">
                            <input type="text" placeholder="Ingrese su Correo">
                            <input type="text" placeholder="Ingrese su Especialidad">
                        </section>
                    </section>
                </form>
            </section>
            <section class="Griv">

            </section>
        </section>
    </main>
</body>
</html>