<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/Header.css">
    <link rel="icon" href="Img/icono1.ico">
    <title>ImaginaSalud EPS</title>
</head>
<body>
    <header>
        <section class="headers">
              <nav>
                  <ul>
                      <li><a href="/" style="text-decoration:none">Inicio</a></li>
                      <li><a href="/Usuarios" style="text-decoration:none">Usuarios</a></li>
                      <li><a href="/Doctores" style="text-decoration:none">Doctores</a></li>
                      <li><a href="/Citas" style="text-decoration:none">Citas</a></li>
                  </ul>
          </nav>
        </section>
    </header>
    <main>
        <section class="all">
            <section class="name"><h1>ImaginaSalud EPS</h1></section>
            <section class="conteiner">
                <section class="figura">
                    <img src="Img/innovacion-salud.jpg" alt="" id="cambiarImg">
                </section>
                <section class="btns">
                    <button onclick="cambiarIMG('back')"><</button>
                    <button id="sig" onclick="cambiarIMG('sig')">></button>
                </section>
                <section class="Info">
                    <h1>Sobre Nosotros - ImaginaSalud EPS</h1><br>
                    <label for="">¡Bienvenidos al mundo de ImaginaSalud EPS, donde la salud y la imaginación se unen para crear un futuro de bienestar y vitalidad! En ImaginaSalud EPS, estamos comprometidos con llevar la atención médica a un nivel completamente nuevo, utilizando la magia de la imaginación para promover la salud y la felicidad.</label>
                    <h1>Nuestra Misión</h1><br>
                    <label for="">Nuestra misión es inspirar a las personas a explorar su imaginación para cuidar de su salud de una manera única y emocionante. Queremos hacer que la atención médica sea divertida, accesible y efectiva al mismo tiempo.</label>
                    <h1>Nuestra Visión</h1><br>
                    <label for="">Nos visualizamos como pioneros en la atención médica imaginativa, donde cada afiliado descubre el poder de la imaginación para sanar y mantener un estilo de vida saludable. Queremos ser conocidos como la EPS que transforma las visitas al médico en aventuras mágicas.</label>
                </section>
            </section>
        </section>
    </main>
    <script src="Js/index.js"></script>
</body>
</html>